{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
</head>
<body>
    <header>
        <nav><a href="{% url 'list_log' %}">MAIN PAGE</a></nav>
        <nav><a href="{% url 'edit_log' log_object.id %}">Edit Log</a></nav>
    </header>
    <main>
        <h2>Date: {{ log_object.date}}</h2>
        <li>Mood: {{ log_object.mood }}</li>
        <li>People Seen: {{ log_object.people_seen }}</li>
        <li>Positive Habit: {{ log_object.positive_habit }}</li>
        <li>Negative Habit: {{ log_object.negative_habit }}</li>
        <li>Morning Activities: {{ log_object.morning_activities }}</li>
        <li>Afternoon Activities: {{ log_object.afternoon_activities }}</li>
        <li>Evening Activities: {{ log_object.evening_activities }}</li>
        <li>Reflection: {{ log_object.reflection }}</li>
        <li>Grateful: {{ log_object.grateful }}</li>
    </main>


</body>
</html>
