{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Edit {{ log_object.date }}</h1>
        <form method="post">
          {% csrf_token %}
          {{ log_form.as_p }}
          <button>Save</button>
        </form>
    </main>

</body>
</html>
