{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/log.css' %}" />
    <title>Logs</title>
</head>
<body>
    <header>
        <h3>LIST OF LOGS</h3>
        <nav>
            <a href="{% url 'create_log' %}">Create Log</a>
        </nav>
    </header>
    <main>
        <ul>
            {% for log in logs %}
            <ul>
                <a href="{% url 'show_log' log.id %}"><li>Date: {{ log.date }}</li></a>
                    <ul>
                        <li>Mood: {{ log.mood }}</li>
                        <li>People Seen: {{ log.people_seen }}</li>
                        <li>Positive Habit: {{ log.positive_habit }}</li>
                        <li>Negative Habit: {{ log.negative_habit }}</li>
                        <li>Morning Activities: {{ log.morning_activities }}</li>
                        <li>Afternoon Activities: {{ log.afternoon_activities }}</li>
                        <li>Evening Activities: {{ log.evening_activities }}</li>
                        <li>Reflection: {{ log.reflection }}</li>
                        <li>Grateful: {{ log.grateful }}</li>
                    </ul>
            </ul>
            {% endfor %}
        </ul>
    </main>

</body>
</html>
